*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    background-color: rgb(206, 204, 204);
    padding: 10px 70px;
    justify-content: space-between;
}

header ul {
    display: flex;
    gap: 40px;
}
header li{
    list-style: none;
}

section {
    padding: 20px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.direito img{
    width: 30vw;
    height: 50vw;
    object-fit: cover;
    border-radius: 40px;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.3);
}

#home{
    background-color: rgb(139, 139, 139);
}

.meio{
    width: 100%;
    text-align: center;
    background-color: rgb(139, 139, 139);
    padding: 70px;
    border-radius: 40px;
}

.Projetos{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}